{% extends 'base.html' %}

{% block content %}
<h1>Devices</h1>
<div class="row m-3">
    <div class="card col-12">
        <div class="p-3">
            <table class="table table-striped" id="devicesTable">
                <thead>
                    <th>#</th>
                    <th>Friendly Name</th>
                    <th>IP</th>
                    <th>Port</th>
                    <th>Netmiko Driver</th>
                    <th>User</th>
                    <th>Group</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 mt-3">
        <a class="btn btn-primary btn-sm float-right" href="{{ url_for('devices.new_device') }}" role="button">New Device</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/devices/devices_generic.js') }}"></script>
{% endblock %}